<form action="/prehistoric_creatures/edit/<%=creatureId%>/?_method=PUT" method="post">
    <label for="type"></label>
    <input type="text" id="type" name="type" value="<%=creature.type%>">
    <input type="submit" value="Edit">
</form>