<form action="/dinosaurs" method="POST">

    
    <label for="dinosaurName">Name:</label>
    <input name="name" id="dinosaurName" type="text" placeholder="enter dinosaur name">
    <label for="dinosaurType">Type:</label>
        <input name="type" id="dinosaurType" type="text" placeholder="enter dinosaur type">
    
<input type="submit">

</form>