<form action="/prehistoric_creatures" method="post">

    <label for="creatureType"></label>
    <input id="creatureType" type="text" placeholder="Enter new creature type" name="type">
    <label for="imageType"></label>
    <input id="imageType" type="text" placeholder="Enter new image url" name="img_url">

    <input type="submit">


</form>